.catalog {
  margin-bottom: 80px;
  @media (min-width: 1024px) {
    margin-bottom: 100px;
  }

  &__container {
    @media (min-width: 1024px) {
      display: flex;
      gap: 30px;
    }
  }

  &__wrapper {
    @media (min-width: 1024px) {
      flex-grow: 1;
    }
  }
  &__order {
    min-height: 48px;
    margin-bottom: 30px;
    @media (min-width: 1024px) {
      padding-top: 72px;
    }
  }
  
  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 16px;
    @media (min-width: 1024px) {
      font-weight: 600;
      margin-bottom: 24px;
    }    
  }  
}
