.header {
  background-image: url("../../assets/img/bg.svg");
  width: 100%;
  background-size: 240%;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 1.5rem 0 2rem;
  margin-bottom: 2rem;

  @media (min-width: 576px) {
    padding-bottom: 3.5rem;
  }
  @media (min-width: 1024px) {
    padding-bottom: 4rem;
    margin-bottom: 2.5rem;
  }

  &__container {
    max-width: 100%;
    margin: 0 auto;
    @media (min-width: 768px) {
      max-width: calc(562px + var(--padding-container) * 2);    
    }
    @media (min-width: 1024px) {
      max-width: calc(764px + var(--padding-container) * 2);
    }
  }

  &__logo {
    width: 150px;
    color: #fff;
    margin: 0 auto 24px;
  }
  
  &__wrapper {
    padding-bottom: 246px;
    background: url('../../assets/img/pic.svg') bottom/227px no-repeat;
    text-align: center;
    color: #FFFFFF;
    
    @media (min-width: 480px) {
      padding-bottom: 0;
      padding-left: 180px;
      padding-top: 27px;
      text-align: left;
      background-position: left;
      background-size: contain;
      min-height: 190px;
    }
    
    @media (min-width: 768px) {
      padding-left: 237px;
      min-height: 229px;
    }

    @media (min-width: 1024px) {
      padding-top: 46px;
      padding-left: 326px;
      min-height: 326px;
    }

    @media (min-width: 1360px) {
      padding-left: 346px;      
    }
  }
  
  
  &__title {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      font-size: 36px;
      margin-bottom: 26px;    
    }
    @media (min-width: 1024px) {
      font-size: 50px;
      margin-bottom: 52px;
    }
  }
  
  &__red {
    color: #FF5C00;
  }
  
  &__appeal {
    font-size: 12px;
    line-height: 16px;
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
